.alert-success {
  background-color: green;
}

.alert-warning {
  background-color: yellow;
}

.alert-danger {
  background-color: red;
}

.alert-info {
  background-color: teal;
}

#title{
  font-family: cursive;
}

body {
  background-color: #072341;
  color: rgb(255, 255, 255);
}

#s2 {
  color: aqua;
  text-decoration: overline;
}

table{
  border-radius: 0%;
}

.table-responsive {
  max-height:300px;
}



.tabletitle
{
color: black;
font-family: cursive;

}